.list-zones-title-container{
    padding-bottom: 1.5rem;
    text-align: center;
}

.label-zones-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-bottom: solid 1px var(--ion-color-primary);
    padding: 0 .5rem;
    margin-bottom: .5rem;
}

.label-zones-re,.label-zones-full{
    width: 25%;    
    font-size: 12px; 
    text-align: center;
    padding: .3rem;
}

.paquetes-empty-container {
	border-radius: 15px;
	--background: white;
	ion-card-content {
		padding-top: 2rem;
		padding-bottom: 2rem;
		text-align: center;
	}
}

.paquetes-empty {
	font-size: 21px;
}