<app-navbar title="SERVICIOS" ></app-navbar>

<ion-content class="bg-services">

  <ion-card class="services-card">
    <div class="service-container">
      <div class="service-label-container">
        <ion-icon name="restaurant" ></ion-icon>
        <span class="service-label">NUTRICIÓN</span>
      </div>
      <div class="service-content-container">
        <span class="service-content">
          Trabajamos de la mano de nuestros pacientes con comunicación abierta 24/7 para así darles a todos la seguridad que necesitan para reprogramar su vida en temas de salud y bienestar.
        </span>
      </div>
    </div>
    <div class="service-container">
      <div class="service-label-container">
        <ion-icon name="nutrition" ></ion-icon>
        <span class="service-label">HEALTHY CORNER</span>
      </div>
      <div class="service-content-container">
        <span class="service-content">
          En AMSalud tenemos una línea de productos que complementan tu alimentación, brindándote lo mejor de un snack nutritivo y rápido.
        </span>
      </div>
    </div>
    <div class="service-container">
      <div class="service-label-container">
        <ion-icon name="medical" ></ion-icon>
        <span class="service-label">DEPILACIÓN</span>
      </div>
      <div class="service-content-container">
        <span class="service-content">
          AMSalud te brinda salud y bienestar, ofreciéndote servicios con altos estándares de calidad por medio un equipo calificado con experiencia y compromiso para lograr tu satisfacción total.
        </span>
      </div>
    </div>
    <div class="service-container">
      <div class="service-label-container">
        <ion-icon name="medkit" ></ion-icon>
        <span class="service-label">MEDICINA GENERAL</span>
      </div>
      <div class="service-content-container">
        <span class="service-content">
          Contamos con la experiencia necesaria para ayudarte a cuidar tu salud.
        </span>
      </div>
    </div>
    <div class="service-container">
      <div class="service-label-container">
        <ion-icon name="snow" ></ion-icon>
        <span class="service-label">CAVITACIÓN</span>
      </div>
      <div class="service-content-container">
        <span class="service-content">
          En AMSalud contamos con la mejor tecnología y el mejor equipo certificado para atenderte y moldear tu cuerpo sin intervención quirúrgica.
        </span>
      </div>
    </div>
    <div class="service-container">
      <div class="service-label-container">
        <ion-icon name="heart" ></ion-icon>
        <span class="service-label">REVIVE</span>
      </div>
      <div class="service-content-container">
        <span class="service-content">
          AMSalud cuenta con un programa de Corporate Wellness. Enseñamos a  tus empleados a llevar una vida de equilibrio.
        </span>
      </div>
    </div>
  </ion-card>

  <footer-media></footer-media>

</ion-content>
