.cabezera {
	border-bottom: solid 1px var(--ion-color-primary);
}
.table-schedule {
	width: 95%;
}
.active {
	background: var(--ion-color-primary);
	color: #fff;
}
.main-slider {
	height: auto !important;
}
