<ion-toolbar>
	<ion-buttons slot="start">
		<ion-button (click)="closeModal()">
			<ion-icon color="dark" slot="icon-only" name="arrow-back"></ion-icon>
		</ion-button>
	</ion-buttons>
	<ion-title color="primary">Mis pedidos</ion-title>
</ion-toolbar>
<ion-content class="stripe-card-container">
	<ion-card class="stripe-card">
		<ion-card-content class="stripe-card-content">
			<ion-list>
				<ion-list-header>
					lista
				</ion-list-header>
				<ion-item *ngFor="let pedido of pedidos" (click)="detalle(pedido)">
					<!-- <ion-avatar slot="start">
						<img [src]="pedido" />
					</ion-avatar> -->
					<ion-label>
						<ion-grid>
							<ion-row>
								<ion-col size="4" class="profile-swipe-container">
									<h2>#{{ pedido.id }}</h2>
								</ion-col>
								<ion-col size="4" class="profile-swipe-container">
									<h3>{{ pedido.total | currency }}</h3>
								</ion-col>
								<ion-col size="4" class="profile-swipe-container">
									<ion-badge color="warning" *ngIf="pedido.status == 0">Pendiente</ion-badge>
									<ion-badge color="primary" *ngIf="pedido.status == 1">despachado</ion-badge>
									<ion-badge color="danger" *ngIf="pedido.status == 2">Cancelado</ion-badge>
								</ion-col>
							</ion-row>
						</ion-grid>
					</ion-label>
				</ion-item>
			</ion-list>
		</ion-card-content>
	</ion-card>
</ion-content>

<footer-media></footer-media>
